*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
}
#top{
    margin:15px auto 15px auto;
    width: 80%;
    text-decoration: underline;
    padding: 5px;
    text-align: center;
    background-color: burlywood;
    border-radius: 5px;
}
img{
    border-radius: 15px;
    width: 57%;
   
}
.content{
    margin: 0 auto 5px auto;
    width: 80%;
    background-color: burlywood;
    border-radius: 5px;
    padding: 15px;
}
.content ul{
    display: inline-block;
     list-style-type: square;
    text-align: left;
    padding-left: 15px;
}
.content li{
    margin: 10px 0;

}